[user]
	name = John Williams
	email = jmwill86@users.noreply.github.com
        ignorecase = false
[diff]
	tool = meld
[pull]
	rebase = false
[log]
	decorate = auto
[core]
	editor = nvim
[safe]
	directory = /home/john/work/symfony_dc
[help]
	autocorrect = 1
